* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    background-color: rgb(69, 124, 160);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px;
   
}

.nav2 {
    display: flex;
    gap: 40px;

}

.nav2 a {
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

.nav1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.page1 {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 90vh; */
    padding: 0 160px;
    position: relative;

}

section {
    width: 100%;
    height: 90vh;
    background-image: url(ayan.jpg.avif);
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    /* padding: 0 150px; */
    /* background-color: aqua; */
    /* justify-content: center; */
}

.lay {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgb(30, 90, 114, 0.9), rgb(30, 90, 112, 0.2));
}

.page1 h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bolder;
}

.page1 p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.page2 {
    width: 100%;
    height: 90vh;
    padding: 0 160px;
    
}

.h1 {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:rgb(46, 99, 134) ;
}
#hr{
   margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
}

.pic img{
    border-radius: 20px;
    width: 30vw;
    box-shadow: 2px 2px 6px 1px gray ;
    
}
.pic{
    display: flex;
    margin-top: 90px;
}
.pera{
    margin-left: 50px;
}

.pera h2{
    color:rgb(46, 99, 134) ;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.pera p{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

#btn{
    padding: 15px;
    border: none;
    border-radius: 10px;
   background-color: rgb(46, 99, 134) ;
   color: white;
   font-weight: bold;
   font-size: 15px;
}